@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Nucleo';
    src: url('./fonts/nucleo-icons.ttf');
}

body {
    background-color: #f5f5f1f8 !important;
}

.content {
    width: 88%;
    float: right;
    height: 100%;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.heading-bar {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    text-align: left;
    padding-left: 2%;
    font-size: 23px;
    background-color:  #f5f5f1f8;
    border-bottom: 1px solid rgba(214, 214, 214, 0.952);
    transition: box-shadow .5s, left .5s;
    cursor: default;
}

.heading-bar:hover {
    box-shadow: 0px 0px 5px 0px rgb(196, 196, 196) !important;
}

#logout-btn {
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 27px;
    color: rgb(107, 107, 107);
}

#logout-btn:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    }

    .heading-bar {
        text-align: center;
    }
}