#line-graph-container {
    width: 98%;
    margin-left: 1%;
    height: 320px;
}

#sales-line-graph {
    width: 100% !important;
    margin-left: 0% !important;
    height: 100% !important;
    margin-top: 2% !important;
}

/* mainDashboard.js */
.row {
    width: 100%;
    height: max-content;
}

.col-sm-8 {
    min-height: 300px;
}

.col-sm-4 {
    min-width: 330px;
    min-height: 500px;
}

.l-graph-container {
    position: absolute;
    left: 4%;
    width: 94%;
    top: 6%;
    height: 435px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 6px 10px 0px rgb(230, 230, 230);
    transition: box-shadow .5s;
}

.l-graph-container:hover {
    box-shadow: 0px 6px 10px 0px rgb(220, 220, 220);
}

.p-chart-container {
    position: absolute;
    left: 3%;
    width: 93%;
    top: 6%;
    height: 435px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 6px 10px 0px rgb(230, 230, 230);
    transition: box-shadow .5s;
}

.p-chart-container:hover {
    box-shadow: 0px 6px 10px 0px rgb(220, 220, 220);
}

.title {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 25px;
}

.sub-title {
    margin-left: 15px;
    color: rgb(124, 124, 124);
}

#l-graph {
    margin-left: 1%;
    width: 98% !important;
    margin-top: 10px;
}

.footers {
    border-top: 1px solid rgb(233, 233, 233);
    margin-top: 5px;
    margin-left: 1.5%;
    width: 97%;
}

.desc {
    position: absolute;
    padding-top: 15px;
    margin-left: 5px;
}

.nav-btns {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.nav-btn {
    color: rgb(187, 187, 187);
    transition: color .5s;
}

.nav-btn:hover {
    color: rgb(107, 107, 107);
    cursor: pointer;
}

.top-detail-heading {
    background-color: #43494d;
    color: rgb(221, 221, 221);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 18px;
    height: 40px;
    padding-top: 7px;
}

.top-detail-table {
    width: 100%;
    text-align: center;
}

.top-detail-table thead {
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgb(221, 226, 230);
}

.top-detail-table tr {
    height: 71px;
    font-size: 18px;
    color: rgb(121, 121, 121);
    transition: color .5s, background-color 2s;
}

.top-detail-table tr:hover {
    background-color: rgb(236, 240, 243);
    color: black;
    cursor: default;
}

@media (max-width: 1850px) {
    .l-graph-container {
        height: 420px
    }

    .p-chart-container {
        height: 420px
    }
}

@media (max-width: 1800px) {
    .l-graph-container {
        height: 410px
    }

    .p-chart-container {
        height: 410px
    }
}

@media (max-width: 1750px) {
    .l-graph-container {
        height: 400px
    }

    .p-chart-container {
        height: 400px
    }
}

@media (max-width: 1700px) {
    .l-graph-container {
        height: 390px
    }

    .p-chart-container {
        height: 390px
    }
}

@media (max-width: 1650px) {
    .l-graph-container {
        height: 380px
    }

    .p-chart-container {
        height: 380px
    }
}

@media (max-width: 1600px) {
    .l-graph-container {
        height: 370px
    }

    .p-chart-container {
        height: 370px
    }
}

@media (max-width: 1550px) {
    .l-graph-container {
        height: 360px
    }

    .p-chart-container {
        height: 360px
    }
}

@media (max-width: 1500px) {
    .l-graph-container {
        height: 350px
    }

    .p-chart-container {
        height: 350px
    }
}





@media (max-width: 1300px) {
    .l-graph-container {
        height: 330px
    }

    .p-chart-container {
        height: 330px
    }
}

@media (max-width: 600px) {
    .row {
        height: 625px;
    }

    .l-graph-container {
        left: 6%;
        height: 280px
    }

    .p-chart-container {
        left: 7%;
        height: 280px
    }

    #l-graph {
        height: 150px !important;
    }

    .nav-btns {
        margin-top: 0px;
    }

    #d-chart-sales {
        height: 80% !important;
        width: 80% !important;
        margin-left: 10% !important;
    }

    .top-detail-table tr {
        height: 40px;
    }
}