/* login.js */
#frame {
    width: 25%;
    margin-left: 37.5%;
    margin-top: 150px;
    min-width: 350px;
    height: 450px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 5px 1px rgb(189, 189, 189);
    border-radius: 5px;
    transition: box-shadow .3s;
}

#frame:hover {
    box-shadow: 0px 0px 5px 2px rgb(189, 189, 189);
}

#login-content {
    position: relative;
    width: 70%;
    margin-left: 15%;
    top: 70px;
}

#login-content tr {
    height: 100px;
}

.user-details {
    width: 100%;
}

#login-alert-modal {
    height: 130px;
    width: 20%;
    min-width: 250px;
    margin-left: 38% !important;
    margin-top: 30vh !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0px 0px 15px 0px rgb(72, 80, 94) !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 0px !important;
    text-align: center;
}

#register-alert-modal {
    height: 250px;
    width: 25%;
    min-width: 250px;
    margin-left: 35.5% !important;
    margin-top: 25vh !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0px 0px 15px 0px rgb(72, 80, 94) !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 0px !important;
    text-align: center;
}

#reg-login-content {
    position: relative;
    width: 80%;
    margin-left: 10%;
    top: 30px;
}

#reg-login-content tr {
    height: 70px;
}

.reg-user-details {
    width: 100%;
}

@media (max-width: 650px) {
    #frame {
        margin-left: 5%;
        width: 80%;
    }

    #login-alert-modal {
        margin-left: 2% !important;
        width: 80%;
    }

    #register-alert-modal {
        margin-left: 7% !important;
    }
}

/* register.js */
.register-body {
    height: 1200px;
    width: 100%;
    background-color: white;
    top: 0
}


#login-btn {
    height: 30px;
    width: 90px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 3%;
    background-color: rgb(46, 133, 204);
    border: 0;
    border-radius: 2px;
    color: rgb(240, 240, 240);
    box-shadow: 0px 1px 2px 0px rgb(134, 134, 134);
}

#login-btn:hover {
    background-color: rgb(15, 116, 199);
    box-shadow: 0px 1px 4px 0px rgb(134, 134, 134);
}

#create-user-form {
    margin: 3%;
    margin-top: 40px;
    width: 1150px;
    color: rgb(76, 91, 104);
}

.cu-headings {
    width: 900px;
    border-radius: 3px 3px 0px 0px;
    color: rgb(55, 131, 207);
    font-size: 18px;
    font-family: 'Rubik';
}

#users-tbl-wrapper {
    width: 800px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 300px;
    overflow-y: scroll;
    box-shadow: 0px 0px 3px 1px rgb(190, 198, 206);
    background-color: rgb(248, 250, 252);
}

#users-tbl {
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
}

#users-tbl td, #users-tbl th {
    padding-left: 10px;
}

#users-tbl thead {
    color: rgb(66, 66, 66);
    position: sticky;
    top: 0;
    height: 30px;
    background-color: rgb(178, 208, 218);
    box-shadow: 0px 0px 5px 1px rgb(190, 198, 206);
}

#users-tbl tbody tr {
    vertical-align: middle;
    height: 40px;
    border-bottom: 1px solid rgb(226, 233, 236);
    transition: background-color .2s ease-out;
}

#users-tbl tbody tr:hover {
    background-color: rgb(221, 228, 231);
}

.tbl-delete-btns {
    float: right;
    margin-right: 5%;
    margin-bottom: 5px;
    height: 25px;
    width: 80px; 
    font-size: 1.45vh;
    background-color: rgb(214, 214, 214);
    border: 0;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 2px 0px rgb(134, 134, 134);
}

.tbl-delete-btns:hover {
    color: rgb(255, 0, 34);
    background-color: rgb(216, 216, 216);
    box-shadow: 0px 1px 4px 0px rgb(134, 134, 134);
}

.head-q {
    width: 100%;
    text-align: center;
    font-size: 2vh;
    margin-top: 1.5vh;
}

.delete-modal-btns {
    width: 100%;
    margin-top: 2.5vh;
    text-align: center;
}

#delete-modal {
    height: 13vh;
    width: 15%;
    margin-left: 42.5% !important;
    margin-top: 30vh !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0px 0px 15px 0px rgb(72, 80, 94) !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 0px !important;
}

#create-user-form input, #create-user-form select {
    width: 250px;
}

#create-user-form tr {
    height: 50px;
}

#create-user-form td {
    vertical-align: bottom;
}

#cu-reset-btn {
    height: 3.7vh;
    width: 100px;
    font-size: 1.7vh;
    margin: 10px;
    margin-top: 60px;
    float: right;
    background-color: rgb(214, 214, 214);
    border: 0;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 1px 2px 0px rgb(134, 134, 134);
}

#cu-reset-btn:hover {
    color: rgb(15, 116, 199);
    background-color: rgb(216, 216, 216);
    box-shadow: 0px 1px 4px 0px rgb(134, 134, 134);
}

#cu-save-btn {
    height: 3.7vh;
    width: 100px;
    font-size: 1.7vh;
    margin: 10px;
    margin-top: 60px;
    float: right;
    background-color: rgb(45, 184, 142);
    border: 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgb(134, 134, 134);
}

#cu-save-btn:hover {
    background-color: rgb(38, 155, 120);
    box-shadow: 0px 1px 4px 0px rgb(134, 134, 134);
}

input {
    width: 200px;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgb(172, 172, 172);
    transition: border .3s;
    background-color: inherit;
    border-radius: 3px;
    font-size: 16px;
}

input:hover, input:focus {
    border-bottom: 1px solid rgb(48, 138, 241);
}

.select {
    width: 250px;
}

select {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(172, 172, 172);
    transition: border .3s;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .register-body {
        width: 1300px;
    }
}