/* nav-main */
#nav-main {
    text-align: center;
    position: fixed;
    width: 12%;
    height: 1650px;
    background-color: rgb(32, 33, 34);
    transition: width .5s;
    z-index: 4;
}

#nav-main-list-icon {
    display: none;
    height: 60px;
    text-align: center;
    border-bottom: 5px solid rgb(32, 33, 34);
    background-color: inherit;
}

.nav-main-tabs {
    position: relative;
    width: 100%;
    height: 70px;
    cursor: pointer;
    text-decoration: none !important;
    border-right: 5px solid rgb(32, 33, 34);
    color: rgb(198, 211, 230);
    display: flex;
}

.main-tab-icons {
    width: 25%;
}

.icons {
    font-size: 45px;
    padding-top: 25px;
}

.main-tab-names {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8vw;
    text-align: left;
    padding-top: 23px;
    width: 75%;
}

@media (max-width: 600px) {
    #nav-main {
        text-align: center !important;
        width: 15%;
        height: 40px;
        border-bottom: 5px solid rgb(51, 87, 185);
        border-right: none;
    }

    #nav-main:hover {
        width: 55%;
        height: 100%;
        border-bottom: none;
    }

    #nav-main:hover .nav-main-tabs {
        display: flex;
    }

    #nav-main-list-icon {
        display: block;
    }

    .nav-main-tabs {
        display: none;
        height: 60px;
    }

    .icons {
        font-size: 40px;
        padding-top: 20px;
    }

    .main-tab-names {
        font-size: 16px;
        padding-top: 16.5px;
    }
}

