#customize-btn {
    min-width: 180px;
}

#dashboard-content {
    width: 96%;
    margin-left: 2%;
    height: max-content;
    background-color: #ffffffd7;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgb(214, 214, 214);
    transition: box-shadow .5s;
}

#dashboard-content:hover {
    box-shadow: 0px 2px 8px 0px rgb(196, 196, 196);
}

#filter-content {
    width: 100%;
    height: max-content;
    padding-bottom: 10px;
}

.filter-sub-content {
    margin: 10px;
    height: max-content;
}

.filters {
    margin-right: 10px !important;
}

.labels {
    padding-left: .2vw !important;
    
}

.filters .select {
    width: 8vw;
    min-width: 130px;
    border: 1px solid rgb(223, 227, 230);
    border-radius: 3px;
}

#date-range {
    margin: 5px;
    margin-bottom: 0;
}

.date-elements {
    width: 110px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid rgb(134, 172, 207);
}

.date-elements:hover {
    border: 1px solid rgb(54, 137, 216);
}

#sales {
    width: 96%;
    margin-left: 2%;
    height: max-content;
    margin-top: 30px;
    background-color: #ffffffd7;
    border: 1px solid #ffffff;
    box-shadow: 0px 2px 3px 0px rgb(214, 214, 214);
    border-radius: 5px;
    margin-bottom: 50px;
}

#download-btns {
    margin: 10px;
    margin-left: 1%;
}

.download-btns {
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
    background-color: rgb(45, 184, 142);
    border: 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 2px 0px rgb(134, 134, 134);
}

.download-btns:hover {
    background-color: rgb(38, 155, 120);
    box-shadow: 0px 1px 4px 0px rgb(134, 134, 134);
}

#download-report-type-modal {
    height: 140px;
    width: 20%;
    min-width: 300px;
    margin-left: 40% !important;
    margin-top: 30vh !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: 0px 0px 15px 0px rgb(72, 80, 94) !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 0px !important;
    text-align: center;
}

.download-sub-btns {
    margin: 10px;
    height: 30px;
    width: 140px; 
    font-size: 15px;
    background-color: rgb(214, 214, 214);
    border: 0;
    border-radius: 2px;
    color: rgb(26, 26, 26);
    box-shadow: 0px 1px 2px 0px rgb(134, 134, 134);
}

.download-sub-btns:hover {
    background-color: rgb(216, 216, 216);
    box-shadow: 0px 1px 4px 0px rgb(134, 134, 134);
}

#loading-icon {
    display: none;
}

#tbl-container {
    width: 98%;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 615px;
    border: 1px solid rgb(223, 223, 223);
}

#tbl-wrapper {
    width: 99.5%;
    margin-left: .5%;
    margin-top: .5%;
    height: 96%;
    overflow-y: scroll;
}

#tbl {
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
}

#tbl td, #tbl th {
    padding-left: 10px;
    padding-right: 10px;
}

#tbl thead {
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    height: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 1px rgb(190, 198, 206);
}

#tbl tbody tr:nth-child(odd) {
    background-color: rgb(239, 245, 248);
}

#tbl tbody tr {
    height: 40px;
    border-bottom: 1px solid rgb(226, 233, 236);
    transition: background-color .2s ease-out;
}

#tbl tbody tr:hover {
    background-color: rgb(221, 228, 231);
}

#summary-tbl-container {
    width: 100%;
    height: 350px;
}

#summary-tbl {
    float: right;
    margin: 50px;
    margin-right: 1%;
    border-collapse: collapse;
    width: 30%;
    min-width: 350px;
    cursor: default;
    text-align: left;
    font-size: 18px;
}

#summary-tbl td, #summary-tbl th {
    padding-left: 10px;
    padding-right: 10px;
}

#summary-tbl thead {
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 1px rgb(190, 198, 206);
    z-index: 1;
}

#summary-tbl tbody tr {
    height: 50px;
    border-bottom: 1px solid rgb(226, 233, 236);
    transition: background-color .2s ease-out;
}

@media (max-width: 600px) {
    #download-report-type-modal {
        margin-left: 3% !important;
        height: 190px;
    }

    .date-elements {
        width: 80px;
    }
}